<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kopo.dao.BoardDAO"> 

	<resultMap type="boardVO" id="boardMap">
		<result column="reg_date" property="regDate" />
		<result column="view_cnt" property="viewCnt" />
	</resultMap>
	
	<!-- 공통 코드 빼내기 작업 -->
	<sql id="selectBoard">
		select no, title, writer, to_char(reg_date, 'yyyy-mm-dd') as regDate
			from t_board
	</sql>
	
	<!-- 전체게시글 조회 sql -->
	<select id="selectAll" resultType="boardVO">
		<include refid="selectBoard" />
		order by reg_date desc
	</select>
	
	<select id="selectByNo" resultType="boardVO" parameterType="int">
		<include refid="selectBoard" />
		where no = #{no} <!-- #{} 안에 어떤 이름이 들어와도 상관없음 -->
	</select>
	
	<select id="selectByNo2" resultType="boardVO" parameterType="boardVO">
		<include refid="selectBoard" />
		where no = #{no} <!-- 이때는 getNo()로 적용됨 -->
	</select>
	
	<!-- resultMap은 VO의 속성과 DB의 컬럼 이름 매칭 기존 as regDate, as viewCnt등 따로 sql문에 지정해줬음 -->
	<select id="selectByNo3" parameterType="boardVO" resultMap="boardMap">
		select *
			from t_board
			where no = #{no}
	</select>
	
	<!-- 게시글 삽입 sql -->
	<insert id="insert" parameterType="boardVO">
		insert into t_board(no, title, writer, content)
			values(seq_t_board_no.nextval, #{title}, #{writer}, #{content})
	</insert>
	
	<!-- 노가다 버전 -->
	<select id="selectWhere" parameterType="boardVO" resultType="boardVO">
		<include refid="selectBoard" />
		where
			<if test="title != null">
				title = #{title} 
			</if>
			<if test="title != null and writer != null">
			and
			</if>
			<if test="writer != null">
				writer = #{writer}
			</if> 
	</select>
	
	<select id="selectWhere2" parameterType="boardVO" resultType="boardVO">
		<include refid="selectBoard" />
		<where> <!-- 동적 태그 알아서 제어 : title이 null이어도 writer에서 and 붙여도 검색이 가능 -->
			<if test="title != null">
				title = #{title}
			</if>
			<if test="writer != null">
				and writer = #{writer}
			</if>
		</where>
	</select>
	
	<select id="selectWhere3" parameterType="boardVO" resultType="boardVO">
		<include refid="selectBoard" />
		<!-- where title like '%${title}%' --> <!-- ${}는 statement로 해석, #{}은 preparedStatement로 해석 -->
		where title like #{title} || '%' <!-- title앞에 %를 붙이면 인덱싱이 불가하여 instr함수로 인덱스를 찾는다? -->
	</select>
</mapper>